{% extends 'base.html' %}
{% block content %}

{% if post_list %}
{% for post in post_list %}
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-sm-6">
            <div class="card bg-light mt-3">
                <div class="card-header px-2">
                    <i class="fas fa-user-circle fa-lg mr-2"></i>{{ post.author }}


                    <!-- Modal Start-->
                    {% if request.user == post.author %}
                    <button type="button" class="btn float-right mr-1" style="padding: 0;" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-ellipsis-h fa-lg"></i></button>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Post Menu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            선택하세요.
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="delete btn btn-danger" data-uri="{% url 'posts:post_delete' post.id %}">Delete</button>
                            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'posts:post_modify' post.id %}'">Modify</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% else %}
                    <button type="button" class="btn float-right mr-1" style="padding: 0;" data-toggle="modal" data-target="#exampleModalCenter2"><i class="fas fa-ellipsis-h fa-lg"></i></button>
                    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle2">Post Menu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            본인 게시물이 아닙니다.<br>로그인 하세요.
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}
                    <!-- Modal End -->


                </div>
              <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{ post.caption }}</p>
                  {% if post.modify_at %}
                  <p class="card-text"><small class="text-muted">{{ post.modify_at }}(수정됨)</small></p>
                  {% else %}
                <p class="card-text"><small class="text-muted">{{ post.create_at }}</small></p>
                  {% endif %}
              </div>

                <form action="{% url 'posts:comment_create' post.id %}" method="post" class="post-form">
                    {% csrf_token %}
                    <!-- 오류 표시 Start -->
             {% if form.errors %}
             <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                        <strong>{{ field.label }}</strong>
                        {{ field.errors }}
                    {% endif %}
                 {% endfor %}
             </div>
             {% endif %}
            <!-- 오류 표시 End -->
                    <div class="input-group">
                      <input type="text" class="form-control" name="content" value="{{ form.content.value|default_if_none:'' }}" placeholder="댓글 달기..." >
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">게시</button>
                      </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".delete").on('click',function() {
            if(confirm("정말로 삭제하시겠습니가?")) {
                location.href = $(this).data('uri');
            }
        });
    });
</script>
{% endblock %}